<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <LogPath></LogPath>
  <!--数据库相关配置-->
  <DB>
    <ConnStrings>
      <ConnString name="MISDB" str="server=120.77.35.228;port=7046;user id=root;password=mariadb123;database=ZNoteDB;charset=utf8;Convert Zero Datetime=True;" type="MySQL"/>
      <ConnString name="ZNoteDB" str="server=120.77.35.228;port=7046;user id=root;password=mariadb123;database=ZNoteDB;charset=utf8;Convert Zero Datetime=True;" type="MySQL"/>
    </ConnStrings>
  </DB>
  <!--Thrift相关配置-->
  <thrift>
    <ConnConfigs>
      <ConnConfig name="FSWFJS" host="localhost" port="9001" timeout="0"/>
    </ConnConfigs>
  </thrift>

  <!--自定义配置-->
  <Custom>
    
  </Custom>
</configuration>